/* Global */
:root {
  /* Color */
  --color-white:
  --color-ligth-white:
  --color-dark-white:
  --color-skyblue:

  /* Font Size */


  /* Font Weight */


  /* Size */

}

/* Univeral tags */
* {
  box-sizing: border-box;
}

